{% extends 'base.html' %}
{% load static %}

{% block title %}Contact{% endblock title %}

{% block body %}
<style>
  body {
    overflow: hidden; /* Prevent scrolling */
  }
</style>
<div style="position: relative; height: 100vh;">
  <!--<img src="{% static 'awf' %}" alt=" " style="width: 100%; height: 100%; object-fit: cover; filter: blur(1px);"> -->
  <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 70%; max-width: 600px; background-color: rgba(255, 255, 255, 0.9);border-radius: 10px; padding: 20px"><!--backdrop-filter: blur(500px);  -->
    <h2 style="text-align: center; color: #000000;">Contact Us</h2>
    <form action="/contact" method="post" style="margin-top: 20px;">
      {% csrf_token %}
      <div style="margin-bottom: 20px; ">
        <label for="name" style="font-weight: bold; color: #000;">Name:</label>
        <input type="text" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" id="name" name="name" aria-describedby="name" required>
      </div>
      <div style="margin-bottom: 20px;">
        <label for="email" style="font-weight: bold; color: #000;">Email address:</label>
        <input type="email" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" id="email" name="email" aria-describedby="emailHelp" required>
        <small id="emailHelp" style="color: #6c757d;">We'll never share your email with anyone else.</small>
      </div>
      <div style="margin-bottom: 20px;">
        <label for="phone" style="font-weight: bold; color: #000;">Phone Number:</label>
        <input type="tel" style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" name="phone" id="phone">
      </div>
      <div style="margin-bottom: 20px;">
        <label for="content" style="font-weight: bold; color: #000;">Describe your issue:</label>
        <textarea style="width: 100%; padding: 8px; border: 1px solid #ccc; border-radius: 4px;" name="content" id="content" cols="30" rows="5" required></textarea>
      </div>
      <button type="submit" style="position:relative; background-color: #007bff; color: #fff; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; font-weight: bold;">Submit</button>
    </form>
  </div>
</div>
{% endblock body %}
